<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dgkj.fxmall">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon144"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 百度地图 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="iRPLgnfgzbewlOUU7uk8ehFcKamsGjNi" />

        <!-- 分享配置 AK:1c06d5d7cc080      注意:tencent后面的appid要保持和您配置的QQ的appid一致 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105848355" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 微信支付回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <receiver android:name=".wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.MainActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".view.PictrueChooserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.HomePageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ShoppingCarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.HomeMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ShangpuRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.TodayRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.NewGoodsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.ProductDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.AllProductsRecommendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.ShoppingCarEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.MessageCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.LogisticsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.DemandMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.NotifyMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.SearchContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.SomeProductSuperClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.SomeDemandClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.DemandDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.StoreMainPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.StoreMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.UserMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dgkj.fxmall.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".view.SetNicknameActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ChangePhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.BindNewphoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.LocationCurrenterCityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.TakeGoodsAdressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.AddGoodsAdressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.SettingPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.AdviceFeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.MyOrdersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.RefundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.RechargeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.WithdrawalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.PublishDemandActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.AllClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ApplyStoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ReviewProgressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.MyDemandActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.RegistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.SetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.SetRegistPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.InTheSaleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.TotalCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.OrderDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ShangpuOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.RefundDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ApplyRefundActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.SubmitLogisticsMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.LogisticsDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.PublishProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ShangpuAllProductsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.BatchHandleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.TheBalanceOfUserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ShangpuDeliverActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.SetPostageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.PostageSettingEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.TransactionRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.StoreInfoEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.PublishCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ConfirmOrderActivity"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.StoreProductsClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ScreeningProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ScreeningStoreActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.SetPayPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.AccountSafeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ResetPayPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.PublishProductDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.MoreClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.SomeProductSubClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <meta-data
                android:name="com.dgkj.fxmall.utils.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name=".view.ApplyStoreAllClassifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ChangePhoneByPasswordActivity"
            android:label="@string/title_activity_change_phone_by_password"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.MyStoreProductDetialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.CancelYeWuYuanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.MyVIPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.CancelYeWuYuanFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.BuyProductPlaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.ConfirmBuyProductPlaceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity
            android:name=".view.WriteAddressOfTakeBySelfActivity"
            android:screenOrientation="portrait"
            android:theme="@style/transparentTheme" />
        <activity android:name=".view.ServiceAgreementActivity"></activity>
    </application>

</manifest>